<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.onlylady.beautyapp"
    android:versionCode="3"
    android:versionName="1.1.1">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />



    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"  android:required="false" />
    <!-- <uses-permission android:name="android.permission.RECORD_VIDEO" /> -->
    <!-- <uses-permission android:name="android.permission.IN"/> -->


    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" /> -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- 震动 权限 plus.device.vibrate(); -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- &lt;!&ndash; 拨打电话 plus.device.dail(); &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <!-- 访问网络状态 plus.networkinfo.* -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读写手机状态和身份 plus.devices.* -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- Device end -->
    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:theme="@style/NoTitleAppTheme">
        <activity
            android:name=".activitys.HomeActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleAppTheme" />
        <!--<activity-->
            <!--android:name=".elses.CalendarActivity"-->
            <!--android:screenOrientation="portrait" />-->

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56c6b796e0f55a6418001ca9" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="b4c4488a1f6d110fbba18533f77e8dc3" />

        <activity
            android:name=".exlib.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".exlib.ShootActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activitys.LoginActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />

        <!-- <activity android:name=".activitys.PlagerActivity"> -->


         <activity
         android:name="com.HBuilder.integrate.webview.SDK_WebView"
         android:configChanges="orientation|keyboardHidden|screenSize"
         android:screenOrientation="sensor" />
        <activity
            android:name="com.HBuilder.integrate.webview.SDK_WebApp"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />
        <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" -->

        <activity
            android:name=".activitys.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.SecondDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.SecondLiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.dcloud.PandoraEntryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:label="5+Debug"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:windowSoftInputMode="adjustResize" />

        <!--<activity-->
            <!--android:name=".activitys.LiveBaiduActivity"-->
            <!--android:configChanges="keyboardHidden|orientation"-->
            <!--android:label="LiveBroadcast"-->
            <!--android:launchMode="singleTask"-->
            <!--android:screenOrientation="landscape"/>-->

        <!-- <activity -->
        <!-- android:name=".activitys.LeShi.PlayNoSkinActivity" -->
        <!-- android:configChanges="keyboard|screenSize|orientation|layoutDirection" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@android:style/Theme.NoTitleBar" /> -->
        <!-- 乐视直播 -->
        <!--<service-->
            <!--android:name="com.letv.pp.service.CdeService"-->
            <!--android:process=":cde" />-->


        <!-- share sdk -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent101004586" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 友盟message -->
        <service
            android:name=".services.MyPushIntentService"
            android:process=":push" />

        <!-- 使用完全自定义消息来开启应用的服务进程的示例服务配置 -->
        <!-- 不是必需的服务，可以根据开发者的需求进行设置 -->
        <service android:name=".services.NotificationService" />

        <!-- 友盟友盟 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" />
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:exported="false"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action" />
            </intent-filter>
        </service>
        <!-- If you donot want to use the standard notification bar in SDK, you can define IntentService instead to handle message. -->

        <service
            android:name="com.umeng.message.UmengDownloadResourceService"
            android:exported="false" />
        <service
            android:name="com.umeng.message.local.UmengLocalNotificationService"
            android:exported="false" />

        <activity
            android:name=".activitys.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="oslanka"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activitys.UserRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleAppTheme" />
        <activity
            android:name=".activitys.TextReaderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleAppTheme" />
        <activity
            android:name=".activitys.MineZhiboActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.AddZhiboActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".exlib.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activitys.AdActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".exlib.pili.HWCodecCameraStreamingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>
        <!--<activity android:name=".exlib.pili.player.VideoPlayerActivity"  android:configChanges="orientation|keyboardHidden|screenSize"-->
            <!--android:label="@string/app_name"-->
            <!--android:screenOrientation="landscape"-->
            <!--android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->

                <!--<data android:mimeType="video/*" />-->
                <!--<data android:mimeType="audio/*" />-->
                <!--<data android:scheme="http" />-->
                <!--<data android:scheme="file" />-->
            <!--</intent-filter> >-->
        <!--</activity>-->
    </application>

</manifest>
